{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_genre') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a genre</legend>

        {{ form.name.label }}
        {{ form.name }}

        {% if form.name.errors %}
            <!-- Show form errors -->
            <ul>
            {% for error in form.name.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}