{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_user') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a username</legend>

        {{ form.username.label }}
        {{ form.username }}

        {% if form.username.errors %}
            <!-- Show form errors -->
            <ul>
            {% for error in form.username.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}